/* default */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header section */
header{
    background:linear-gradient(rgba(255, 0, 0, 0.233), rgba(47, 0, 216, 0.308)), url(images/banner-bg.png);
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-container{
    margin: auto;
    text-align: center;
    color: #fff;
    padding: 0 18%;
}

.header-container h3{
    padding: 10px 0;
}

.header-container h1{
    font-size: 75px;
    padding-bottom: 20px;
}

.header-container p{
    padding-bottom: 40px;
    line-height: 25px;
}

.header-container a, .about-button a{
    padding: 10px 30px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
}

.header-container a:hover{
    background-color: rgba(0, 0, 0, 0.527);
    transition: ease-in-out all 0.5s;
    
}

/* about section */

.about{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 5% 10%;
}

.about-heading-section{
    display: flex;
    align-items: center;
}

.about h3{
    font-size: 38px;
    padding: 10px 0 10px 10px;
}

.about-description p{
    padding: 20px 20px 40px 0;
    line-height: 25px;
}

.about-left{
    width: 50%;
}

.about-right{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.about-button a{
    background-color: #f00;
    border: 2px solid red;
    
}